POSTGRES_DB=naeda_db
POSTGRES_USER=user
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5433
TEST_POSTGRES_DB=naeda_db
TEST_POSTGRES_USER=user
TEST_POSTGRES_PASSWORD=1234
FACE_ENCRYPT_KEY=<base64 인코딩된 32바이트 랜덤 키>