POSTGRES_DB=naeda
POSTGRES_USER=naedauser
POSTGRES_PASSWORD="naeda1234!"
POSTGRES_PORT=5432
REDIS_PORT=6379
REDIS_PASSWORD="redis1234!"
AI_PORT=8000
AI_SERVICE_TOKEN=dev-internal-token
AI_TIMEOUT_SECONDS=5
AI_BASE_URL=http://localhost:8000
SSAFY_API_KEY=여기에_SSAFY_API_KEY_입력
FACE_ENCRYPT_KEY=여기에_32자_이상의_암호화키_입력